<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %><br />
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Package Name" %><br />
    <%= f.text_field :pkgName %>
  </div><br />
  <div class="field">
    <%= f.label :branch %><br />
    <%= f.text_field :branch, :value => "latest" %>
  </div><br />
  <div class="field">
    <%= f.label :method %><br />
    <%= f.select :method, ['upstream','ftpls','httpls','dualhttpls','subdirhttpls','svnls','sf','google','lp','trac','custom'], :selected => @record.method %>   <%=link_to(image_tag("question_mark_grey.jpg"),  :controller => "faq", :action => "index") %>
  </div><br />
  <div class="field">
    <%= f.label :"URL" %><br />
    <%= f.text_field :info %>
  </div><br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="field">
    <%= f.hidden_field :processed, :value => "false", :hidden=>true %>
  </div><br /><br />
  <div class="field">
    <%= f.hidden_field :loc, :value => "", :hidden=>true %>
  </div>
<% end %>
